@tailwind base;
@tailwind components;
@tailwind utilities;
@import "description";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.swiper-button-prev,
.swiper-button-next {
  color: #ff6651 !important;
  z-index: 10;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 15px;
  background-color: #ee3e38;
  border-radius: 5px;
}
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.5s linear;
  border-bottom: 0 !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sc-fsYeqs.hszPFH {
  padding: 0;
}
.MuiBox-root.css-19kzrtu {
  padding: 0;
  margin-top: 20px;
}
.MuiTabs-flexContainer
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #ff6651;
}
.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
  background-color: #ff6651;
}
.css-1ujnqem-MuiTabs-root {
  border-bottom: 1px solid rgb(218, 225, 231);
}
.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.form-layout {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-x-10 mb-5 lg:mb-10;
}
.rating > input {
  display: none;
}
.rating > label {
  position: relative;
  width: 28px;
  font-size: 35px;
  color: #ff0000;
  cursor: pointer;
}
.rating > input:checked ~ label:before {
  opacity: 1;
}
.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}
.skeleton {
  background-color: #eee;
  background-image: linear-gradient(
    110deg,
    #ececec 8%,
    #f5f5f5 18%,
    #ececec 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
